body {
    margin: 0 auto;
    padding: 0;
    font-family: sans-serif;
    max-width: 300px;
}

* {
    box-sizing: border-box;
}

.row {
    display: flex;
    display: -webkit-flex;
    align-items: center;
}

.btn-key {
    text-align: center;
    width: 100px;
    height: 100px;
    border: 1px solid white;
    vertical-align: middle;
    line-height: 100px;
}

.btn-numberkey {
    background: #E0E0E0;
}

.btn-numberkey:hover {
    background: #EEEEEE;
}

.btn-clear {
    background: #EF5350;
    color: white;
    font-weight: bold;
}

.btn-clear:hover {
    background: #E57373;
}

.btn-done {
    background: #8BC34A;
    color: white;
    font-weight: bold;
}

.btn-done:hover {
    background: #9CCC65;
}

.screen-box {
    height: 100px;
    background: #FFCDD2;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    padding: 5px;
}

.screen {
    font-size: 2em;
    flex: 1;
    text-align: center;
    padding-left: -2em;
}

.stats-box {
    background: #F2F2F2;
}

.stats {
    display: flex;
    display: -webkit-flex;
    align-items: center;
    width: 100%;
    background: #FFEBEE;
    justify-content: flex-end;
    padding: 5px;
}

.right-symbol {
    color: #8EDC48;
}

.wrong-symbol {
    color: red;
}

.right-box {}

.wrong-box {
    margin-left: 10px;
}
